* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

body {
    width: 100%;
    height: 100%;
    font-family: Inter;
    font-weight: 400;
}

.main {
    margin-top: 0;
    width: 100%;
    height: 100%;
    position: relative;
}

.landing-page {
    background: url("./media/landingpagebg.png");
    height: calc(100vh);
    background-clip: border-box;
    background-size: 100% calc(100vh - 10px);
    background-repeat: no-repeat;

}

.call-language {
    width: 100%;
    height: 4vh;
    background: #000;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.9vw;
    padding: 0 2vw;
}

.header {
    background: rgba(86, 86, 86, 0.05);
    height: 10vh;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 2vw;
    justify-content: space-between;
    font-size: 1.1vw;

}

.logo {
    display: flex;
    align-items: center;
}

.logo i {
    font-size: 2vw;
    font-weight: 800;
    padding-right: 1vw;
}

.logo img {
    width: 10vw;
}

.nav {
    display: flex;
    justify-content: space-between;
    gap: 3vw;
    align-items: baseline;
    font-weight: 500;
}

.nav a {
    text-decoration: none;
    color: #000;
}

.nav a sup {
    vertical-align: super;
    position: relative;
    bottom: 0.9em;
    right: 2.3em;
    font-size: 0.7vw;
    border: 1px solid rgba(234, 88, 88, 1);
    border-radius: 30%;
    background-color: rgba(234, 88, 88, 1);
    ;
}

.credentials button {
    /* gap: 10vw; */
    border-radius: 2vw;
    width: 6vw;
    margin-right: 1vw;
    height: 2.6vw;
    border: 1px solid rgba(18, 94, 80, 1);
    font-weight: 550;
    background: none;
    color: rgba(18, 94, 80, 1);
    font-size: 1.1vw;
}

.credentials button:nth-child(2) {
    background-color: rgba(18, 94, 80, 1);
    color: white;
}

.main-body {
    width: 100%;
    text-align: center;
    align-content: center;
    margin: auto;
}

.content {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 10px;
    width: 44vw;
    margin: auto;
    align-content: center;

    /* height: 86vh; */
}

.content h2 {
    font-family: Noto Serif;
    font-size: 3vw;
    font-weight: 500;
    margin-top: 10vh;
}

.content p {
    font-weight: 400;
    width: 35vw;
    margin: auto;
    margin-top: 5vh;
    margin-bottom: 5vh;
    font-size: 1.2vw;
}

.btn {
    border-radius: 2vw;
    width: 12vw;
    height: 2.6vw;
    border: 1px solid rgba(18, 94, 80, 1);
    font-weight: 550;
    background-color: rgba(18, 94, 80, 1);
    color: white;
    font-size: 1.1vw;
    margin: auto;
}

.content :nth-child(4) {
    width: 30vw;
    font-size: 1.1vw;
    font-weight: 400;
}

.allimages {
    position: relative;
    width: 100%;
    top: -50vh;
}

.images {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.vector-left {
    width: 50%;
}

.vector-right {
    position: relative;
    height: auto;
    width: 50%;
    text-align: end;
    top: 9vh;
    right: 4vh;
}

.vector-left img {
    width: 25vw;
    height: 26vw;
}

.vector-right img {
    width: 17vw;
    height: 23vw;
}

.smallimages {
    text-align: center;
}

.smallimages :nth-child(1) {
    position: relative;
    bottom: 38vh;
    left: 19vw;
    transform: scale(0.7);
}

.smallimages :nth-child(2) {
    position: relative;
    bottom: 78vh;
    right: 31vw;
}

.smallimages :nth-child(3) {
    position: relative;
    bottom: 76vh;
    left: 37vw;
}

.smallimages :nth-child(4) {
    position: relative;
    bottom: 58.5vh;
    left: 6.5vw;
}

@media(max-width:1275px) {
    .smallimages {
        display: none;
    }
}

@media(max-width:800px) {
    .html {
        padding: 0px;
    }

    .main {
        width: 375px;
        margin: auto;
    }

    .images,
    .nav,
    .credentials,
    .call-language {
        display: none;
    }

    .landing-page {
        background: url("./media/landingpagebg1.png");
        background-clip: border-box;
        background-size: 100% calc(100vh - 50px);
        background-repeat: no-repeat;
        padding: 0px;
        margin: 0px;
        height: calc(100vh);

    }

    .header {
        height: 68px;
    }

    .logo i {
        padding-left: 20x;
        font-size: 28px;
        font-weight: 1000;
        padding-right: 1vw;
        margin-right: 80px;
    }

    .logo img {
        width: 122px;
        height: 28px;
    }

    .content {
        text-align: center;
        margin: auto;
        width: 370px;
        margin: auto;
        align-content: center;
        /* height: 86vh; */
    }

    .content h2 {
        margin: auto;
        font-family: Noto Serif;
        font-size: 25px;
        font-weight: 500;
        margin-top: 50px;
        width: 270px;
        height: 110px;
    }

    .content p {
        font-weight: 400;
        width: 324px;
        height: 75px;
        /* line-height: 25px; */
        margin: auto;
        margin-top: 16px;
        margin-bottom: 30px;
        font-size: 16px;
    }

    .btn {
        font-family: Inter;
        border-radius: 60px;
        width: 165px;
        height: 36px;
        border: 1px solid rgba(18, 94, 80, 1);
        font-weight: 600;
        background-color: rgba(18, 94, 80, 1);
        color: white;
        font-size: 15px;
        margin: auto;
        padding: 6px 15px 6px 15px;
        margin-bottom: 19px;
    }

    .content :nth-child(4) {
        width: 230px;
        height: 69px;
        font-size: 14px;
        font-weight: 400;
    }

    .allimages {
        position: relative;
        width: 100%;
        top: -70px;
    }

    .navphone {
        height: 70px;
        background-color: #000;
        position: relative;
        bottom: 17px;
        border-radius: 20px 20px 0 0;
        color: aliceblue;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    .navphone div {
        text-align: center;
    }

    .navphone p {
        font-size: 12px;
    }

    .images1 :nth-child(2) {
        position: relative;
        left: 120px;
        bottom: 270px;
    }

    .images1 :nth-child(3) {
        position: relative;
        left: 0px;
        bottom: 395px;
    }

    .images1 :nth-child(4) {
        position: relative;
        right: 5px;
    }
}

@media(min-width:800px) {

    .images1,
    .navphone {
        display: none;
    }
}


.programs{
    background-image: url("./media/programsbg.png");
    height: calc(113vh);
    background-clip: border-box;
    background-size: 95vw 113vh;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 10vh;
    /* border: 1px solid; */
    padding: 1vw;
}

.programs h2{
    font-size: 2.4vw;
    font-weight: 500;
    font-family: Noto serif;
    /* position: relative; */
    margin-top: 20vh;
    text-align: center;
    border: 1px solid;
}
.programs p{
    font-size: 1.2vw;
    text-align: center;
    width: 48vw;
    margin: auto;
    margin-top: 4vh;
}






@media (max-width:800px) {

    .Programs {
        background-image: url("./media/programsbg.png");
        background-clip: border-box;
        background-size: 100% calc(100vh - 50px);
        background-repeat: no-repeat;
        padding: 0px;
        margin: 40px 0px 60px 0px;
        height: calc(100vh);
    }

    .Programs div {
        width: 293px;
        height: 66px;
        border: 1px solid;
        margin: auto;
    }

    .Programs p {

    }
}